<br />
<br />

<h2>STAY HOME. SAVE LIVES.</h2>
<br />
<div>
    <h5>Help stop coronavirus</h5>
    <br />
1. STAY home   <br /> <br />
2. KEEP a safe distance   <br /> <br />
3. WASH hands often  <br /> <br />
4. COVER your cough  <br /> <br />
5. SICK? Call the helpline  <br />
</div>
<br />
<br /> 
<br />
<div>
    To prevent the spread of COVID-19:
    <ul>
        <li>Clean your hands often. Use soap and water, or an alcohol-based hand rub.</li>
        <li>Maintain a safe distance from anyone who is coughing or sneezing.</li>
        <li>
            Don’t touch your eyes, nose or mouth.</li>
        <li>Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.</li>
        <li>
            Stay home if you feel unwell.</li>
        <li>If you have a fever, a cough, and difficulty breathing, seek medical attention. Call in advance.</li>
        <li>Follow the directions of your local health authority.</li>
        <li>Avoiding unneeded visits to medical facilities allows healthcare systems to operate more effectively, therefore protecting you and others.</li>
    </ul>






</div>
